<div class="tramite" *ngFor="let tramite of tramites">
    <div class="tituloTramite darkBlueText">
        {{tramite.titulo}}
    </div>
    <div class="responsableTramite">
        {{tramite.responsable}}
    </div>
    <div class="infoTramite">
        <div class="modalidad" [ngClass]="tramite.online ? 'greenText' : 'darkBlueText' ">
            <span [ngClass]="tramite.online ? 'greenText govco-icon-tramite-en-linea' : 'darkBlueText govco-icon-tramite-presencial' " class="govco-icon size-1x"></span>
        {{tramite.modalidad}}
        </div>
        <div class="costo darkBlueText">
            <span [ngClass]="tramite.gratis ? 'govco-icon-tramite-sin-costo' : 'govco-icon-tramite-con-costo' " class="govco-icon size-1x" class="govco-icon dodgerBlue size-1x"></span>
            {{tramite.costo}}
        </div>
        <div class="enlace">
        <a href="{{tramite.enlace}}" class="darkBlueText">Ver todo el trámite</a>
        </div>
    </div>
</div>

