<div class="row">
    <div class="col-sm-6" *ngFor="let tema of temas">
        <div class="card govco-card tema">
            <div class="row card-body">
                <div class="col-sm-3">
                    <div class="imgTema" style="background-image: url({{tema.imagen}});"></div>
                </div>
                <div class="col-sm-9 infoTema">
                    <div class="headerTema darkBlueText cardTitle">
                        {{tema.titulo}}
                    </div>
                    <div class="textoTema darkBlueText">
                        {{tema.texto}}
                    </div>
                    <div class="enlaceTema">
                        <div class="conocerMas">
                            <a href="{{tema.enlace}}" class="dodgerBlue">{{tema.CTA}}</a>
                            <span class="govco-icon govco-icon-right-arrow dodgerBlue"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
