<footer>
    <div class="footer page__footer footer-white footer-blue">
        <div class="container">
            <div class="footer-container" id="footer-container">
                <div class="footer-title d-flex  bd-highlight">
                    <h2 class="title-footer">Contáctanos</h2>
                </div>
                <div class="nav-footer icon-white  nav-pills nav-pills-icons icon-white d-flex justify-content-center bd-highlight">
                    <div class="item-footer">
                        <a class="nav-link icon-white" target="_blank" href="mailto:soporteccc@mintic.gov.co">
                            <span class="govco-icon govco-icon-email-cn"></span>
                            <p class="title-contact-link"> Correo electrónico </p>
                        </a>
                    </div>
                    <div class="item-footer">
                        <a class="nav-link icon-white">
                            <span class="govco-icon govco-icon-callback-cn"></span>
                            <p class="title-contact-link"> Regresamos tu llamada </p>
                        </a>
                    </div>
                    <div class="item-footer">
                        <div class="nav-link icon-white" >
                            <span class="govco-icon govco-icon-call-center-cn"></span>
                            <p class="title-contact-link"> Contacto telefónico </p>
                        </div>
                    </div>
                    <div class="item-footer">
                        <a class="nav-link icon-white">
                            <span class="govco-icon govco-icon-callin-cn"></span>
                            <p class="title-contact-link">Llamada web </p>
                        </a>
                    </div>
                    <div class="item-footer">
                        <a class="nav-link icon-white" >
                            <span class="govco-icon govco-icon-wifi-cn"></span>
                            <p class="title-contact-link"> Redes sociales </p>
                        </a>
                    </div>
                    
                </div>
                <div class="submenu-footer d-flex justify-content-center bd-highlight">
                    <ul>
                        <li>
                            <a>Conoce a GOV.CO</a>
                        </li>
                        <li>
                            <a>Términos de uso</a>
                        </li>
                        <li>
                        <a>Mapa del sitio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </footer>