<header>
<div class="alert alert-dismissible fade show bg-color-gold darkBlueText" id="topAlert">
    Estamos construyendo este espacio para ti y tu opinión nos ayuda a crecer
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" class="blueText">X</span>
    </button>
</div>
<nav class="navbar navbar-expand-lg navbar-govco navbar-dark">
    <div class="navbar-container">
        <div class="navbar-logo">
            <a href="#" class="navbar-brand">
                <img src="https://cdn.www.gov.co/assets/images/logo.png" height="30" alt="Logo Gov.co" />
                <span id="beta">BETA</span>
            </a>
            
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsible" aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapsible">
            <div>
                <form action="" class="form-inline form-search-bar">
                    <input type="search" class="form-control input-govco" placeholder="Buscar" title="search">
                    <span class="govco-icon govco-icon-search-cp "></span>
                </form>
            </div>
            <div id="lang">
                <span class="govco-icon govco-icon-language-en-n govco-icon-white"></span>
            </div>
            <div id="login">
                <span class="govco-icon govco-icon-user-n govco-icon-white"></span>
                Iniciar Sesión
            </div>
        </div>
    </div>
    <div class="w-100" id="nav-secondary">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">TRÁMITES Y SERVICIOS</li>
            <li class="nav-item">PARTICIPACIÓN</li>
            <li class="nav-item">ENTIDADES</li>
            <li class="nav-item">NOTICIAS</li>
        </ul>
    </div>
</nav>
</header>