<div class="opinion" *ngFor="let opinion of opiniones">
    <div class="tag" [ngClass]="{naranja:'bg-color-orange',verde:'bg-color-green',azul:'bg-color-dodger-blue'}[opinion.category]">
        {{opinion.tag}}
    </div>
    <div class="tituloOpinion darkBlueText">
        {{opinion.titulo}}
    </div>
    <div class="infoOpinion row">
        <div class="responsable darkBlueText col-sm-6">
            {{opinion.responsable}}
        </div>
        <div class="participantes darkBlueText col-sm-6">
            {{opinion.participantes}}
        </div>
    </div>
</div>
