<div class="carousel-inner">
    <div class="carousel-item card-body {{tramiteTop.active}}" *ngFor="let tramiteTop of tramitesTop">
        <div class="cardTitle darkBlueText">
        {{tramiteTop.titulo}}
        </div>
        <div class="infoTramite">
        <p class="darkBlueText">{{tramiteTop.responsable}}</p>
        <p [ngClass]="tramiteTop.online ? 'greenText' : 'darkBlueText' ">
            <span
            [ngClass]="tramiteTop.online ? 'greenText govco-icon-tramite-en-linea' : 'darkBlueText govco-icon-tramite-presencial' "
            class="govco-icon size-1x"></span>
            {{tramiteTop.modalidad}}
        </p>
        </div>
    </div>
</div>
<ol class="carousel-indicators">
    <li data-target="#tramitesCards" *ngFor="let tramiteTop of tramitesTop" data-slide-to="tramiteTop.id"
    class="{{tramiteTop.active}}"></li>
</ol>
