<app-header></app-header>
<div id="banner" style="background-image: url({{slide.img}});" *ngFor="let slide of banner">
  <div class="bigText whiteText">{{slide.texto1}}</div>
  <div id="search">
    <form action="" class="form-inline form-search-bar w-100 justify-content-between">
      <input type="search" class="form-control" placeholder="Encuentra aquí lo que buscas" title="search2">
      <span class="govco-icon govco-icon-search-cn size-3x"></span>
    </form>
  </div>
  <div class="secondaryText whiteText">{{slide.texto2}}</div>
</div>
<div id="inner" class="card govco-card">
  <div class="card-body">
    <section id="tramites">
      <div class="row">
        <div class="col-sm-4">
          <div id="tramitesCards" class="card govco-card carousel slide" data-ride="carousel">
            <div class="secondaryTitle dodgerBlue">
              Los trámites más usados <span class="govco-icon govco-icon-plus dodgerBlue size-3x"></span>
            </div>
            <app-tramites-top></app-tramites-top>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="tramites">
              <app-tramites></app-tramites>
          </div>
          <div class="conocerMas">
            <a href="" class="dodgerBlue">Conocer otros trámites</a>
            <span class="govco-icon govco-icon-right-arrow dodgerBlue"></span>
          </div>
        </div>
      </div>
    </section>
    <section id="opiniones">
      <div class="row">
        <div class="col-sm-7">
          <div class="sectionTitle darkBlueText">
            Queremos conocer tu opinión
          </div>
          <div class="opiniones">
            <app-opiniones></app-opiniones>
          </div>
          <div class="conocerMas">
            <a href="" class="dodgerBlue">Conocer otros ejercicios de participación</a>
            <span class="govco-icon govco-icon-right-arrow dodgerBlue"></span>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="card govco-card">
            <div class="card-body">
              <div class="cardTitle darkBlueText">Cuéntanos</div>
              <div class="secondaryText darkBlueText">¿Cómo podemos mejorar GOV.CO?</div>
              <div class="noteText darkBlueText">Estamos construyendo este espacio para ti y tu opinión nos ayuda a
                crecer.</div>
              <form action="" id="opinion">
                <div class="counter">
                  <textarea name="" id="textareaOpinion" rows="5" placeholder="Escribe aquí tu opinión" maxlength="255">
                              </textarea>
                  <div class="maxCaracteres">
                    <span class="hidden">Alcanzó el máximo de carácteres permitidos</span>
                    <span class="span-count-character" id="counttextarea-example">255</span>
                  </div>
                </div>
                <button type="submit" id="btnOpinion" class="btn btn-round btn-middle dodgerBlue">Enviar mi
                  opinión</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="informate">
      <div class="sectionTitle darkBlueText">Infórmate</div>
      <div class="row noticias">
        <app-noticias></app-noticias>
      </div>
      <div class="conocerMas">
        <a href="" class="dodgerBlue">Ver otras noticias</a>
        <span class="govco-icon govco-icon-right-arrow dodgerBlue"></span>
      </div>
    </section>
  </div>
</div>
<section id="temas">
  <div class="sectionTitle darkBlueText">Otros temas de tu interés</div>
  <app-temas></app-temas>
</section>
<app-footer></app-footer>
<router-outlet></router-outlet>
