<div class="row">
    <div class="noticia col-sm-4" [ngClass]="{'col-sm-8':noticia.size === 'lg'}" *ngFor="let noticia of noticias">
        <div class="imgNoticia" style="background-image: url({{noticia.img}});"></div>
        <div class="infoNoticia card govco-card">
            <div class="card-body">
                <div class="fechaNoticia darkBlueText">
                    {{noticia.fecha}}
                </div>
                <div class="textoNoticia">
                    <a href="{{noticia.enlace}}" class="darkBlueText">{{noticia.titulo}}</a>
                </div>
            </div>
        </div>
    </div>
</div>