/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}

.blueBg{
    background-color: #3366cc!important;
}
.darkBlueText{
    color: #004884!important;
}
.blueText{
    color: #3366cc!important;
}
.dodgerBlue{
    color: #3772FF!important;
}
.whiteText{
    color:white!important;
}
.greenText{
    color: #069169!important;
}
.govco-icon-white{
    color: white;
}
#topAlert{
    margin: 0;
    border-radius: 0;
    font-size: 14px;
    padding: 0 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
#topAlert .close{
    position: inherit;
    padding: 0;
}
nav .navbar-container{
    display: flex;
    justify-content: space-between;
}
nav .navbar-container .navbar-collapse{
    justify-content: flex-end;
}
nav .navbar-container .navbar-collapse div{
    margin: 0 8px;
}
nav .navbar-container .navbar-collapse div span:hover{
    cursor: pointer;
    color: #ffab00;
}
.navbar-toggler{
    border:none;
}
#login{
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#login span{
    margin-right: 5px;
}
#beta{
    color: white;
    font-size: 10px;
    border:  1px solid white;
    padding: 0 3px;
}
#nav-secondary{
    background-color: white;
}
#nav-secondary li{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #004884;
    padding: 10px 20px;
}
#nav-secondary .nav-item.active{
    background-color: transparent!important;
    border-bottom: 6px solid #FBC200;
}
#banner{
    background-repeat: no-repeat;
    background-size: cover;
    height: 390px;
    text-align: center;
    padding: 10px 100px;
}
#banner .bigText{
    font-size: 61px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    padding: 20px;
}
#banner #search{
    width: 65%;
    margin: auto;
}
#banner #search input{
    background-color: white;
    border-radius: 40px!important;
    border: 1px solid #fff;
    width: 80%;
    font-size: 20px;
    color: #004884A3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    padding: 0 30px;
} 
#banner #search form{
    background-color: white;
    border-radius: 40px;
    display: flex;
    box-shadow: 0px 0px 1px #4B4B4B;
}
#banner #search form span{
    line-height: initial;
}
#banner .secondaryText{
    font-size: 30px;
    padding:20px;
}
#inner{
    margin: -80px 50px 0 50px;
    padding: 20px 0;
}
/* TRÁMITES Y SERVICIOS */
#tramites{
    padding: 0 20px;
}
.secondaryTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
#tramitesCards{
    padding: 0 15px;
}
#tramitesCards, #opinion .card{
    border: 1px solid #3772FF
}
.cardTitle{
    font-size: 33px;
    line-height: initial;
    font-weight: 300;
    margin-bottom: 5px;
}
#tramitesCards .cardTitle{
    margin-bottom: 30px;
}
.carousel-indicators{
    position: initial;
}
.carousel-indicators > li {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #BABABA;
}
.carousel-indicators > li.active{
    background-color: #3772ff;
}
.tramite, .opinion{
    border-bottom: 2px solid #9DBEFF1E;
    padding:10px;
}
.tramite .tituloTramite, .opinion .tituloOpinion{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.tramite .responsableTramite, .tramite .infoTramite *{
    font-size: 14px;
}
.tramites .infoTramite, .opinion .infoOpinion{
    display: flex;
    justify-content: space-between;
}
.tramites .infoTramite .enlace{
    text-decoration-line: underline;
}
.conocerMas{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px
}
/* OPINIÓN */
#opiniones, #informate, #temas{
    padding: 20px 20px 20px 40px;
    margin-top: 20px;
}
.sectionTitle{
    font-size: 44px;
    line-height: initial;
}
.opinion .tag{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 35%;
    padding-left: 15px;
    margin-bottom: 15px;
}
.opinion .infoOpinion{
    margin-top: 5px;
    font-weight: 400;
}
#opiniones .secondaryText{
    font-size: 20px;
}
#opiniones .noteText{
    font-size: 14px;
    margin-bottom: 30px;

}
form#opinion{
    text-align: center;
}
.counter{
    background-color: #E6EFFD;
    border-radius: 10px;
    padding: 5px;
}
#textareaOpinion{
    background-color: #E6EFFD;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    color: #0B457F80;
    padding: 15px;
    width: 100%;
}
#textareaOpinion::placeholder{
    color: #0B457F80!important;
}
#btnOpinion{
    text-transform: none;
    margin-top: 20px;
    border-color: #3772FF;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
#btnOpinion:hover{
    background-color: #3772FF;
    color: white
}
.maxCaracteres{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #3772FF;
}
/* INFÓRMATE */
.noticia{
    height: 300px;
    padding: 10px;
    margin-bottom: 50px;
}
.noticia .imgNoticia{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.noticia .infoNoticia{
    margin: -100px 20px 0 20px;
    min-height: 130px;
}
.noticia .fechaNoticia{
    font-size: 14px;
}
.noticia .textoNoticia a{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 10px 0;
}
/*TEMAS*/
#temas{
    padding: 20px 50px ;
}
#temas .sectionTitle{
    padding-left: 50px;
}
#temas .cardTitle{
    margin-bottom: 20px;
}
#temas .card{
    padding:20px;
    margin: 10px;
    min-height: 280px;
}
.tema .infoTema{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.tema .imgTema{
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}
.title-contact-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
@media screen and (max-width: 1280px){
    .opinion .tag{
        width: 40%;
    }
}
@media screen and (max-width: 768px){
    #banner{
        padding: 10px;
    }
    #banner .bigText{
        padding: 0;
        font-size: 40px;
        line-height: initial;
        padding-bottom: 10px;
    }
    #search{
        width: 100%!important;
    }
    #search input{
        width: 88%!important;
    }
    #inner{
        margin: -80px 20px 0 20px;
    }
    #tramites, #opiniones, #temas{
        padding: 0;
    }
    .tramites{
        text-align: center;
    }
    .tramite *{
        padding-bottom: 10px;
    }
    .sectionTitle{
        font-size: 38px;
    }
    .opinion .tag{
        width: 70%;
    }
    .imgTema{
        margin: auto;
    }
    .tema{
        text-align: center;
    }
}
